# Import Libraries

In [161]:
import numpy as np
import pandas as pd
from datetime import datetime as dt

# Import Datasets

In [162]:
healthDF = pd.read_csv("cleaned_data_for_visualization.csv",index_col=[0], skipinitialspace=True)

In [163]:
healthDF.head()

,Record ID,Repeat Instance,Date of birth,Date of Survey,Age,1_Vegetables,2_Fruit,3_Beans_legumes,4_Nuts_seeds,5_Cold_water_fish,...,42_Sleep_per_day_6,42_Sleep_per_day_7-8 hours,42_Sleep_per_day_<=5,42_Sleep_per_day_>=9,45_Smoking_home_no,"45_Smoking_home_yes, but not inside",46_Smoker_never smoked,Form_completer_combined effort,Form_completer_parent/guardian,Form_completer_patient
0,1,1,11/26/2006,1/29/2022,15.18,3-4 times per week,5-7 times per week,1-2 times per week,1-2 times per week,rarely or never,...,0,1,0,0,1,0,1,0,0,1
1,2,2,7/18/2010,2/26/2021,10.61,1-2 times per week,rarely or never,rarely or never,rarely or never,rarely or never,...,0,0,0,1,1,0,1,0,1,0
2,2,1,7/18/2010,1/25/2021,10.52,1-2 times per week,3-4 times per week,rarely or never,rarely or never,rarely or never,...,0,0,0,1,1,0,1,0,1,0
3,2,3,7/18/2010,1/3/2022,11.46,1-2 times per week,1-2 times per week,rarely or never,3-4 times per week,rarely or never,...,0,0,0,1,1,0,1,1,0,0
4,3,1,3/29/2008,11/25/2020,12.66,1-2 times per week,1-2 times per week,3-4 times per week,rarely or never,1-2 times per week,...,0,1,0,0,1,0,1,0,1,0

# Build Scoring System Using If-else Function

In [164]:
healthDF['healthy_diet_score'] = 0
healthDF['unhealthy_diet_score'] = 0
healthDF['physical_score'] = 0
healthDF['sleeping_score'] = 0
healthDF['smoking_score'] = 0
healthDF['final_score'] = 0

## Calculate Smoking Score

In [165]:
#healthDF['calculated_age'] = healthDF.loc[:,'Date of Survey'] - healthDF.loc[:,'Date of birth']
healthDF.columns.tolist()

['Record ID',
 'Repeat Instance',
 'Date of birth',
 'Date of Survey',
 'Age',
 '1_Vegetables',
 '2_Fruit',
 '3_Beans_legumes',
 '4_Nuts_seeds',
 '5_Cold_water_fish',
 '8_Chicken',
 '11_Whole_grains',
 '12_Processed_grains',
 '18_Unweetened_low_fat_dairy',
 '19_Unsweetened_full_fat_fairy',
 '6_Other_fish',
 '9_Red_meat',
 '10_Processed_meats',
 '13_Potatoes',
 '14_Candy_baked_sweets',
 '15_Sweet_drinks',
 '16_Soda',
 '17_Juice',
 '20_Sweetened_dairy',
 '21_Egg yolks_etc',
 '22_Canned_foods_etc',
 '23_Pizza',
 '24_Fried_foods',
 '36_Exercise_per_wk',
 '40_Week_exercise_hours',
 '41_Weekend_exercise_hours',
 '42_Sleep_per_day',
 '45_Smoking_home',
 '46_Smoker',
 'Form_completer',
 '1_Vegetables_1-2 times per week',
 '1_Vegetables_3-4 times per week',
 '1_Vegetables_5-7 times per week',
 '1_Vegetables_>=2 times per day',
 '2_Fruit_1-2 times per week',
 '2_Fruit_3-4 times per week',
 '2_Fruit_5-7 times per week',
 '2_Fruit_>=2 times per day',
 '2_Fruit_rarely or never',
 '3_Beans_legumes_1-2 times per week',
 '3_Beans_legumes_3-4 times per week',
 '3_Beans_legumes_rarely or never',
 '4_Nuts_seeds_1-2 times per week',
 '4_Nuts_seeds_3-4 times per week',
 '4_Nuts_seeds_5-7 times per week',
 '4_Nuts_seeds_rarely or never',
 '5_Cold_water_fish_1-2 times per week',
 '5_Cold_water_fish_3-4 times per week',
 '5_Cold_water_fish_rarely or never',
 '8_Chicken_1-2 times per week',
 '8_Chicken_3-4 times per week',
 '8_Chicken_5-7 times per week',
 '8_Chicken_>=2 times per day',
 '8_Chicken_rarely or never',
 '11_Whole_grains_1-2 times per week',
 '11_Whole_grains_3-4 times per week',
 '11_Whole_grains_5-7 times per week',
 '11_Whole_grains_rarely or never',
 '12_Processed_grains_1-2 times per week',
 '12_Processed_grains_3-4 times per week',
 '12_Processed_grains_5-7 times per week',
 '12_Processed_grains_>=2 times per day',
 '12_Processed_grains_rarely or never',
 '18_Unweetened_low_fat_dairy_1-2 times per week',
 '18_Unweetened_low_fat_dairy_3-4 times per week',
 '18_Unweetened_low_fat_dairy_5-7 times per week',
 '18_Unweetened_low_fat_dairy_rarely or never',
 '19_Unsweetened_full_fat_fairy_1-2 times per week',
 '19_Unsweetened_full_fat_fairy_3-4 times per week',
 '19_Unsweetened_full_fat_fairy_5-7 times per week',
 '19_Unsweetened_full_fat_fairy_rarely or never',
 '6_Other_fish_1-2 times per week',
 '6_Other_fish_3-4 times per week',
 '6_Other_fish_rarely or never',
 '9_Red_meat_1-2 times per week',
 '9_Red_meat_3-4 times per week',
 '9_Red_meat_5-7 times per week',
 '9_Red_meat_rarely or never',
 '10_Processed_meats_1-2 times per week',
 '10_Processed_meats_3-4 times per week',
 '10_Processed_meats_rarely or never',
 '13_Potatoes_1-2 times per week',
 '13_Potatoes_3-4 times per week',
 '13_Potatoes_rarely or never',
 '14_Candy_baked_sweets_1-2 times per week',
 '14_Candy_baked_sweets_3-4 times per week',
 '14_Candy_baked_sweets_rarely or never',
 '15_Sweet_drinks_1-2 times per week',
 '15_Sweet_drinks_3-4 times per week',
 '15_Sweet_drinks_5-7 times per week',
 '15_Sweet_drinks_rarely or never',
 '16_Soda_1-2 times per week',
 '16_Soda_3-4 times per week',
 '16_Soda_rarely or never',
 '17_Juice_1-2 times per week',
 '17_Juice_3-4 times per week',
 '17_Juice_5-7 times per week',
 '17_Juice_rarely or never',
 '20_Sweetened_dairy_1-2 times per week',
 '20_Sweetened_dairy_3-4 times per week',
 '20_Sweetened_dairy_5-7 times per week',
 '20_Sweetened_dairy_rarely or never',
 '21_Egg yolks_etc_1-2 times per week',
 '21_Egg yolks_etc_3-4 times per week',
 '21_Egg yolks_etc_rarely or never',
 '22_Canned_foods_etc_1-2 times per week',
 '22_Canned_foods_etc_rarely or never',
 '23_Pizza_1-2 times per week',
 '23_Pizza_3-4 times per week',
 '23_Pizza_rarely or never',
 '24_Fried_foods_1-2 times per week',
 '24_Fried_foods_3-4 times per week',
 '24_Fried_foods_rarely or never',
 '36_Exercise_per_wk_1-2 hours per week',
 '36_Exercise_per_wk_3-4 hours per week',
 '36_Exercise_per_wk_5-6 hours per week',
 '36_Exercise_per_wk_< 1 hour per week',
 '40_Week_exercise_hours_3-4 hours per day',
 '40_Week_exercise_hours_5-6 hours per day',
 '40_Week_exercise_hours_>=2 hours per day',
 '40_Week_exercise_hours_>=7 hours per day',
 '41_Weekend_exercise_hours_3-4 hours per day',
 '41_Weekend_exercise_hours_5-6 hours per day',
 '41_Weekend_exercise_hours_>=2 hours per day',
 '41_Weekend_exercise_hours_>=7 hours per day',
 '42_Sleep_per_day_6',
 '42_Sleep_per_day_7-8 hours',
 '42_Sleep_per_day_<=5',
 '42_Sleep_per_day_>=9',
 '45_Smoking_home_no',
 '45_Smoking_home_yes, but not inside',
 '46_Smoker_never smoked',
 'Form_completer_combined effort',
 'Form_completer_parent/guardian',
 'Form_completer_patient',
 'healthy_diet_score',
 'unhealthy_diet_score',
 'physical_score',
 'sleeping_score',
 'smoking_score',
 'final_score']

In [166]:
#healthDF.loc[healthDF['46_Smoker_never smoked'] == 1, 'smoking_score'] += 100

def update_smoking_score(row):
    if row['46_Smoker_never smoked'] == 1 or '45_Smoking_home_no' == 1:
        return row['smoking_score'] + 100
    else: 
        return row['smoking_score']
    return row['smoking_score']
        
# Apply the function to the DataFrame
healthDF['smoking_score'] = healthDF.apply(update_smoking_score, axis=1)

In [167]:
healthDF[['45_Smoking_home_no','45_Smoking_home_yes, but not inside','46_Smoker_never smoked','smoking_score']]

,45_Smoking_home_no,"45_Smoking_home_yes, but not inside",46_Smoker_never smoked,smoking_score
0,1,0,1,100
1,1,0,1,100
2,1,0,1,100
3,1,0,1,100
4,1,0,1,100
...,...,...,...,...
85,1,0,1,100
86,1,0,1,100
87,1,0,1,100
88,1,0,1,100
89,1,0,1,100

## Calculate Sleeping Score

In [168]:
def update_sleeping_score(row):
    if row['Age'] <= 12:
        if row['42_Sleep_per_day_>=9'] == 1:
            return row['sleeping_score'] + 100
        elif row['42_Sleep_per_day_7-8 hours'] == 1:
            return row['sleeping_score'] + 75
        elif row['42_Sleep_per_day_6'] == 1:
            return row['sleeping_score'] + 50
        elif row['42_Sleep_per_day_<=5'] == 1:
            return row['sleeping_score'] + 25
    else:
        if row['42_Sleep_per_day_>=9'] == 1:
            return row['sleeping_score'] + 100
        elif row['42_Sleep_per_day_7-8 hours'] == 1:
            return row['sleeping_score'] + 100
        elif row['42_Sleep_per_day_6'] == 1:
            return row['sleeping_score'] + (100/3*2)
        elif row['42_Sleep_per_day_<=5'] == 1:
            return row['sleeping_score'] + (100/3)
    return row['sleeping_score']

# Apply the function to the DataFrame
healthDF['sleeping_score'] = healthDF.apply(update_sleeping_score, axis=1)

In [169]:
healthDF[['Age','42_Sleep_per_day_>=9','42_Sleep_per_day_7-8 hours','42_Sleep_per_day_6','42_Sleep_per_day_<=5','sleeping_score']]

,Age,42_Sleep_per_day_>=9,42_Sleep_per_day_7-8 hours,42_Sleep_per_day_6,42_Sleep_per_day_<=5,sleeping_score
0,15.18,0,1,0,0,100
1,10.61,1,0,0,0,100
2,10.52,1,0,0,0,100
3,11.46,1,0,0,0,100
4,12.66,0,1,0,0,100
...,...,...,...,...,...,...
85,7.00,1,0,0,0,100
86,11.00,1,0,0,0,100
87,15.00,0,1,0,0,100
88,10.00,0,1,0,0,75
89,16.00,0,1,0,0,100

## Calculate Physical Activity Score

In [170]:
def update_physical_score1(row):
    if row['36_Exercise_per_wk_< 1 hour per week'] == 1:
        return row['physical_score'] + (50/5)
    elif row['36_Exercise_per_wk_1-2 hours per week'] == 1:
        return row['physical_score'] + (50/5*2)
    elif row['36_Exercise_per_wk_3-4 hours per week'] == 1:
        return row['physical_score'] + (50/5*3)
    elif row['36_Exercise_per_wk_5-6 hours per week'] == 1:
        return row['physical_score'] + (50/5*4)
    elif '36_Exercise_per_wk_>=7 hours per week' in healthDF.columns and row['36_Exercise_per_wk_>=7 hours per week'] == 1:
        return row['physical_score'] + 50
    return row['physical_score']
    
def update_physical_score2(row):
    if row['40_Week_exercise_hours_>=2 hours per day'] == 1:
        return row['physical_score'] + 5
    elif row['40_Week_exercise_hours_3-4 hours per day'] == 1:
        return row['physical_score'] + 7.5
    elif row['40_Week_exercise_hours_5-6 hours per day'] == 1:
        return row['physical_score'] + 10
    elif row['40_Week_exercise_hours_>=7 hours per day'] == 1:
        return row['physical_score'] + 12.5
    #elif row['40_Week_exercise_hours_none'] == 1:
    #    return row['physical_score'] + 2.5
    return row['physical_score']

def update_physical_score3(row):
    if row['41_Weekend_exercise_hours_>=2 hours per day'] == 1:
        return row['physical_score'] + 5
    elif row['41_Weekend_exercise_hours_3-4 hours per day'] == 1:
        return row['physical_score'] + 7.5
    elif row['41_Weekend_exercise_hours_5-6 hours per day'] == 1:
        return row['physical_score'] + 10
    elif row['41_Weekend_exercise_hours_>=7 hours per day'] == 1:
        return row['physical_score'] + 12.5
    #elif row['41_Weekend_exercise_hours_none'] == 1:
    #    return row['physical_score'] + 2.5
    return row['physical_score']
        
# Apply the function to the DataFrame
healthDF['physical_score'] = healthDF.apply(update_physical_score1, axis=1) + healthDF.apply(update_physical_score2, axis=1) + healthDF.apply(update_physical_score3, axis=1)

In [171]:
healthDF[['36_Exercise_per_wk_< 1 hour per week','36_Exercise_per_wk_1-2 hours per week','36_Exercise_per_wk_3-4 hours per week','36_Exercise_per_wk_5-6 hours per week','40_Week_exercise_hours_>=2 hours per day','40_Week_exercise_hours_3-4 hours per day','40_Week_exercise_hours_5-6 hours per day','40_Week_exercise_hours_>=7 hours per day','41_Weekend_exercise_hours_>=2 hours per day','41_Weekend_exercise_hours_3-4 hours per day','41_Weekend_exercise_hours_5-6 hours per day','41_Weekend_exercise_hours_>=7 hours per day','physical_score']]

,36_Exercise_per_wk_< 1 hour per week,36_Exercise_per_wk_1-2 hours per week,36_Exercise_per_wk_3-4 hours per week,36_Exercise_per_wk_5-6 hours per week,40_Week_exercise_hours_>=2 hours per day,40_Week_exercise_hours_3-4 hours per day,40_Week_exercise_hours_5-6 hours per day,40_Week_exercise_hours_>=7 hours per day,41_Weekend_exercise_hours_>=2 hours per day,41_Weekend_exercise_hours_3-4 hours per day,41_Weekend_exercise_hours_5-6 hours per day,41_Weekend_exercise_hours_>=7 hours per day,physical_score
0,0,0,0,1,0,1,0,0,1,0,0,0,52.5
1,0,0,0,1,0,0,0,1,0,0,0,1,65.0
2,0,0,0,1,0,0,1,0,0,1,0,0,57.5
3,0,0,1,0,0,1,0,0,0,1,0,0,45.0
4,1,0,0,0,0,0,0,1,0,0,1,0,32.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,0,0,0,1,0,0,0,1,0,0,1,0,62.5
86,0,0,1,0,0,0,1,0,0,0,1,0,50.0
87,0,0,0,1,0,1,0,0,0,0,1,0,57.5
88,0,0,1,0,1,0,0,0,0,0,1,0,45.0
89,0,0,0,1,0,0,0,1,0,0,1,0,62.5

In [172]:
#print(healthDF[['36_Exercise_per_wk_< 1 hour per week','36_Exercise_per_wk_1-2 hours per week','36_Exercise_per_wk_3-4 hours per week','36_Exercise_per_wk_5-6 hours per week','40_Week_exercise_hours_none','40_Week_exercise_hours_>=2 hours per day','40_Week_exercise_hours_3-4 hours per day','40_Week_exercise_hours_5-6 hours per day','40_Week_exercise_hours_>=7 hours per day','41_Weekend_exercise_hours_none','41_Weekend_exercise_hours_>=2 hours per day','41_Weekend_exercise_hours_3-4 hours per day','41_Weekend_exercise_hours_5-6 hours per day','41_Weekend_exercise_hours_>=7 hours per day','physical_score']])
healthDF[['36_Exercise_per_wk_< 1 hour per week','36_Exercise_per_wk_1-2 hours per week','36_Exercise_per_wk_3-4 hours per week','36_Exercise_per_wk_5-6 hours per week','40_Week_exercise_hours_>=2 hours per day','40_Week_exercise_hours_3-4 hours per day','40_Week_exercise_hours_5-6 hours per day','40_Week_exercise_hours_>=7 hours per day','41_Weekend_exercise_hours_>=2 hours per day','41_Weekend_exercise_hours_3-4 hours per day','41_Weekend_exercise_hours_5-6 hours per day','41_Weekend_exercise_hours_>=7 hours per day','physical_score']]

,36_Exercise_per_wk_< 1 hour per week,36_Exercise_per_wk_1-2 hours per week,36_Exercise_per_wk_3-4 hours per week,36_Exercise_per_wk_5-6 hours per week,40_Week_exercise_hours_>=2 hours per day,40_Week_exercise_hours_3-4 hours per day,40_Week_exercise_hours_5-6 hours per day,40_Week_exercise_hours_>=7 hours per day,41_Weekend_exercise_hours_>=2 hours per day,41_Weekend_exercise_hours_3-4 hours per day,41_Weekend_exercise_hours_5-6 hours per day,41_Weekend_exercise_hours_>=7 hours per day,physical_score
0,0,0,0,1,0,1,0,0,1,0,0,0,52.5
1,0,0,0,1,0,0,0,1,0,0,0,1,65.0
2,0,0,0,1,0,0,1,0,0,1,0,0,57.5
3,0,0,1,0,0,1,0,0,0,1,0,0,45.0
4,1,0,0,0,0,0,0,1,0,0,1,0,32.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,0,0,0,1,0,0,0,1,0,0,1,0,62.5
86,0,0,1,0,0,0,1,0,0,0,1,0,50.0
87,0,0,0,1,0,1,0,0,0,0,1,0,57.5
88,0,0,1,0,1,0,0,0,0,0,1,0,45.0
89,0,0,0,1,0,0,0,1,0,0,1,0,62.5

## Calculate Diet Score

### Healthy Food Group

In [173]:
def update_diet_score1(row):
    if row['1_Vegetables_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.45/3)
    elif row['1_Vegetables_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5*4)
    elif row['1_Vegetables_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5*3)
    elif row['1_Vegetables_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5*2)
    #elif row['1_Vegetables_rarely or never'] == 1:
    #    return row['diet_score'] + (75*.45/3/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] = healthDF.apply(update_diet_score1, axis=1)

In [174]:
#healthDF[['1_Vegetables_>=2 times per day','1_Vegetables_5-7 times per week','1_Vegetables_3-4 times per week','1_Vegetables_1-2 times per week','1_Vegetables_rarely or never','diet_score']]
healthDF[['1_Vegetables_>=2 times per day','1_Vegetables_5-7 times per week','1_Vegetables_3-4 times per week','1_Vegetables_1-2 times per week','healthy_diet_score']]

,1_Vegetables_>=2 times per day,1_Vegetables_5-7 times per week,1_Vegetables_3-4 times per week,1_Vegetables_1-2 times per week,healthy_diet_score
0,0,0,1,0,6.75
1,0,0,0,1,4.50
2,0,0,0,1,4.50
3,0,0,0,1,4.50
4,0,0,0,1,4.50
...,...,...,...,...,...
85,0,1,0,0,9.00
86,0,1,0,0,9.00
87,0,1,0,0,9.00
88,0,0,0,1,4.50
89,1,0,0,0,11.25

In [175]:
def update_diet_score2(row):
    if '2_Fruit_>=2 times per day' in healthDF.columns and row['2_Fruit_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.45/3)
    elif '2_Fruit_5-7 times per week' in healthDF.columns and row['2_Fruit_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5*4)
    elif '2_Fruit_3-4 times per week' in healthDF.columns and row['2_Fruit_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5*3)
    elif '2_Fruit_1-2 times per week' in healthDF.columns and row['2_Fruit_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5*2)
    elif '2_Fruit_rarely or never' in healthDF.columns and row['2_Fruit_rarely or never'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] =+ healthDF.apply(update_diet_score2, axis=1)

In [176]:
#healthDF[['2_Fruit_>=2 times per day','2_Fruit_5-7 times per week','2_Fruit_3-4 times per week','2_Fruit_1-2 times per week','2_Fruit_rarely or never','diet_score']]
healthDF[['2_Fruit_>=2 times per day','2_Fruit_5-7 times per week','2_Fruit_3-4 times per week','2_Fruit_1-2 times per week','2_Fruit_rarely or never','healthy_diet_score']]

,2_Fruit_>=2 times per day,2_Fruit_5-7 times per week,2_Fruit_3-4 times per week,2_Fruit_1-2 times per week,2_Fruit_rarely or never,healthy_diet_score
0,0,1,0,0,0,15.75
1,0,0,0,0,1,6.75
2,0,0,1,0,0,11.25
3,0,0,0,1,0,9.00
4,0,0,0,1,0,9.00
...,...,...,...,...,...,...
85,0,1,0,0,0,18.00
86,0,0,1,0,0,15.75
87,0,1,0,0,0,18.00
88,0,1,0,0,0,13.50
89,0,1,0,0,0,20.25

In [177]:
healthDF[['1_Vegetables_>=2 times per day','1_Vegetables_5-7 times per week','1_Vegetables_3-4 times per week','1_Vegetables_1-2 times per week','2_Fruit_>=2 times per day','2_Fruit_5-7 times per week','2_Fruit_3-4 times per week','2_Fruit_1-2 times per week','2_Fruit_rarely or never','healthy_diet_score']]

,1_Vegetables_>=2 times per day,1_Vegetables_5-7 times per week,1_Vegetables_3-4 times per week,1_Vegetables_1-2 times per week,2_Fruit_>=2 times per day,2_Fruit_5-7 times per week,2_Fruit_3-4 times per week,2_Fruit_1-2 times per week,2_Fruit_rarely or never,healthy_diet_score
0,0,0,1,0,0,1,0,0,0,15.75
1,0,0,0,1,0,0,0,0,1,6.75
2,0,0,0,1,0,0,1,0,0,11.25
3,0,0,0,1,0,0,0,1,0,9.00
4,0,0,0,1,0,0,0,1,0,9.00
...,...,...,...,...,...,...,...,...,...,...
85,0,1,0,0,0,1,0,0,0,18.00
86,0,1,0,0,0,0,1,0,0,15.75
87,0,1,0,0,0,1,0,0,0,18.00
88,0,0,0,1,0,1,0,0,0,13.50
89,1,0,0,0,0,1,0,0,0,20.25

In [178]:
def update_diet_score3(row):
    if '3_Beans_legumes_>=2 times per day' in healthDF.columns and row['3_Beans_legumes_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.55/7)
    elif '3_Beans_legumes_5-7 times per week' in healthDF.columns and row['3_Beans_legumes_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*4)
    elif '3_Beans_legumes_3-4 times per week' in healthDF.columns and row['3_Beans_legumes_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*3)
    elif '3_Beans_legumes_1-2 times per week' in healthDF.columns and row['3_Beans_legumes_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*2)
    elif '3_Beans_legumes_rarely or never' in healthDF.columns and row['3_Beans_legumes_rarely or never'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] =+ healthDF.apply(update_diet_score3 , axis=1)

In [179]:
#healthDF[['3_Beans_legumes_>=2 times per day','3_Beans_legumes_5-7 times per week','3_Beans_legumes_3-4 times per week','3_Beans_legumes_1-2 times per week','3_Beans_legumes_rarely or never','diet_score']]
healthDF[['3_Beans_legumes_3-4 times per week','3_Beans_legumes_1-2 times per week','3_Beans_legumes_rarely or never','healthy_diet_score']]

,3_Beans_legumes_3-4 times per week,3_Beans_legumes_1-2 times per week,3_Beans_legumes_rarely or never,healthy_diet_score
0,0,1,0,18.107143
1,0,0,1,7.928571
2,0,0,1,12.428571
3,0,0,1,10.178571
4,1,0,0,12.535714
...,...,...,...,...
85,0,1,0,20.357143
86,0,0,1,16.928571
87,1,0,0,21.535714
88,0,1,0,15.857143
89,0,1,0,22.607143

In [180]:
def update_diet_score4(row):
    if '4_Nuts_seeds_>=2 times per day' in healthDF.columns and row['4_Nuts_seeds_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.55/7)
    elif '4_Nuts_seeds_5-7 times per week' in healthDF.columns and row['4_Nuts_seeds_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*4)
    elif '4_Nuts_seeds_3-4 times per week' in healthDF.columns and row['4_Nuts_seeds_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*3)
    elif '4_Nuts_seeds_1-2 times per week' in healthDF.columns and row['4_Nuts_seeds_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*2)
    elif '4_Nuts_seeds_rarely or never' in healthDF.columns and row['4_Nuts_seeds_rarely or never'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] =+ healthDF.apply(update_diet_score4, axis=1)

In [181]:
healthDF[['4_Nuts_seeds_5-7 times per week','4_Nuts_seeds_3-4 times per week','4_Nuts_seeds_1-2 times per week','4_Nuts_seeds_rarely or never','healthy_diet_score']]

,4_Nuts_seeds_5-7 times per week,4_Nuts_seeds_3-4 times per week,4_Nuts_seeds_1-2 times per week,4_Nuts_seeds_rarely or never,healthy_diet_score
0,0,0,1,0,20.464286
1,0,0,0,1,9.107143
2,0,0,0,1,13.607143
3,0,1,0,0,13.714286
4,0,0,0,1,13.714286
...,...,...,...,...,...
85,0,0,0,1,21.535714
86,0,0,0,1,18.107143
87,0,0,0,1,22.714286
88,0,0,1,0,18.214286
89,1,0,0,0,27.321429

In [182]:
def update_diet_score5(row):
    if '5_Cold_water_fish_>=2 times per day' in healthDF.columns and row['5_Cold_water_fish_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.45/3)
    elif '5_Cold_water_fish_5-7 times per week' in healthDF.columns and row['5_Cold_water_fish_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5*4)
    elif '5_Cold_water_fish_3-4 times per week' in healthDF.columns and row['5_Cold_water_fish_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5*3)
    elif '5_Cold_water_fish_1-2 times per week' in healthDF.columns and row['5_Cold_water_fish_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5*2)
    elif '5_Cold_water_fish_rarely or never' in healthDF.columns and row['5_Cold_water_fish_rarely or never'] == 1:
        return row['healthy_diet_score'] + (75*.45/3/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] =+ healthDF.apply(update_diet_score5, axis=1)

In [183]:
healthDF[['5_Cold_water_fish_3-4 times per week','5_Cold_water_fish_1-2 times per week','5_Cold_water_fish_rarely or never','healthy_diet_score']]

,5_Cold_water_fish_3-4 times per week,5_Cold_water_fish_1-2 times per week,5_Cold_water_fish_rarely or never,healthy_diet_score
0,0,0,1,22.714286
1,0,0,1,11.357143
2,0,0,1,15.857143
3,0,0,1,15.964286
4,0,1,0,18.214286
...,...,...,...,...
85,0,1,0,26.035714
86,0,0,1,20.357143
87,1,0,0,29.464286
88,1,0,0,24.964286
89,0,1,0,31.821429

In [184]:
def update_diet_score6(row):
    if '8_Chicken_>=2 times per day' in healthDF.columns and row['8_Chicken_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.55/7)
    elif '8_Chicken_5-7 times per week' in healthDF.columns and row['8_Chicken_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*4)
    elif '8_Chicken_3-4 times per week' in healthDF.columns and row['8_Chicken_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*3)
    elif '8_Chicken_1-2 times per week' in healthDF.columns and row['8_Chicken_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*2)
    elif '8_Chicken_rarely or never' in healthDF.columns and row['8_Chicken_rarely or never'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] =+ healthDF.apply(update_diet_score6, axis=1)

In [185]:
healthDF[['8_Chicken_>=2 times per day','8_Chicken_5-7 times per week','8_Chicken_3-4 times per week','8_Chicken_1-2 times per week','8_Chicken_rarely or never','healthy_diet_score']]

,8_Chicken_>=2 times per day,8_Chicken_5-7 times per week,8_Chicken_3-4 times per week,8_Chicken_1-2 times per week,8_Chicken_rarely or never,healthy_diet_score
0,0,0,0,0,1,23.892857
1,0,0,0,0,1,12.535714
2,0,0,0,1,0,18.214286
3,0,0,0,1,0,18.321429
4,0,0,1,0,0,21.750000
...,...,...,...,...,...,...
85,0,0,1,0,0,29.571429
86,0,0,1,0,0,23.892857
87,0,0,0,1,0,31.821429
88,0,0,0,1,0,27.321429
89,0,1,0,0,0,36.535714

In [186]:
def update_diet_score7(row):
    if '11_Whole_grains_>=2 times per day' in healthDF.columns and row['11_Whole_grains_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.55/7)
    elif '11_Whole_grains_5-7 times per week' in healthDF.columns and row['11_Whole_grains_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*4)
    elif '11_Whole_grains_3-4 times per week' in healthDF.columns and row['11_Whole_grains_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*3)
    elif '11_Whole_grains_1-2 times per week' in healthDF.columns and row['11_Whole_grains_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*2)
    elif '11_Whole_grains_rarely or never' in healthDF.columns and row['11_Whole_grains_rarely or never'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] =+ healthDF.apply(update_diet_score7, axis=1)

In [187]:
healthDF[['11_Whole_grains_5-7 times per week','11_Whole_grains_3-4 times per week','11_Whole_grains_1-2 times per week','11_Whole_grains_rarely or never','healthy_diet_score']]

,11_Whole_grains_5-7 times per week,11_Whole_grains_3-4 times per week,11_Whole_grains_1-2 times per week,11_Whole_grains_rarely or never,healthy_diet_score
0,0,0,1,0,26.250000
1,0,0,1,0,14.892857
2,0,0,0,1,19.392857
3,0,0,1,0,20.678571
4,0,0,1,0,24.107143
...,...,...,...,...,...
85,0,0,1,0,31.928571
86,0,0,0,1,25.071429
87,0,1,0,0,35.357143
88,0,0,1,0,29.678571
89,1,0,0,0,41.250000

In [188]:
def update_diet_score8(row):
    if '12_Processed_grains_>=2 times per day' in healthDF.columns and row['12_Processed_grains_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.55/7)
    elif '12_Processed_grains_5-7 times per week' in healthDF.columns and row['12_Processed_grains_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*4)
    elif '12_Processed_grains_3-4 times per week' in healthDF.columns and row['12_Processed_grains_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*3)
    elif '12_Processed_grains_1-2 times per week' in healthDF.columns and row['12_Processed_grains_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*2)
    elif '12_Processed_grains_rarely or never' in healthDF.columns and row['12_Processed_grains_rarely or never'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] =+ healthDF.apply(update_diet_score8, axis=1)

In [189]:
healthDF[['12_Processed_grains_>=2 times per day','12_Processed_grains_5-7 times per week','12_Processed_grains_3-4 times per week','12_Processed_grains_1-2 times per week','12_Processed_grains_rarely or never','healthy_diet_score']]

,12_Processed_grains_>=2 times per day,12_Processed_grains_5-7 times per week,12_Processed_grains_3-4 times per week,12_Processed_grains_1-2 times per week,12_Processed_grains_rarely or never,healthy_diet_score
0,0,1,0,0,0,30.964286
1,1,0,0,0,0,20.785714
2,0,1,0,0,0,24.107143
3,0,1,0,0,0,25.392857
4,0,0,0,1,0,26.464286
...,...,...,...,...,...,...
85,0,0,1,0,0,35.464286
86,0,0,0,1,0,27.428571
87,0,0,0,1,0,37.714286
88,0,0,0,1,0,32.035714
89,0,0,0,1,0,43.607143

In [190]:
def update_diet_score9(row):
    if '18_Unweetened_low_fat_dairy_>=2 times per day' in healthDF.columns and row['18_Unweetened_low_fat_dairy_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.55/7)
    elif '18_Unweetened_low_fat_dairy_5-7 times per week' in healthDF.columns and row['18_Unweetened_low_fat_dairy_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*4)
    elif '18_Unweetened_low_fat_dairy_3-4 times per week' in healthDF.columns and row['18_Unweetened_low_fat_dairy_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*3)
    elif '18_Unweetened_low_fat_dairy_1-2 times per week' in healthDF.columns and row['18_Unweetened_low_fat_dairy_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*2)
    elif '18_Unweetened_low_fat_dairy_rarely or never' in healthDF.columns and row['18_Unweetened_low_fat_dairy_rarely or never'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] =+ healthDF.apply(update_diet_score9, axis=1)

In [191]:
healthDF[['18_Unweetened_low_fat_dairy_5-7 times per week','18_Unweetened_low_fat_dairy_3-4 times per week','18_Unweetened_low_fat_dairy_1-2 times per week','18_Unweetened_low_fat_dairy_rarely or never','healthy_diet_score']]

,18_Unweetened_low_fat_dairy_5-7 times per week,18_Unweetened_low_fat_dairy_3-4 times per week,18_Unweetened_low_fat_dairy_1-2 times per week,18_Unweetened_low_fat_dairy_rarely or never,healthy_diet_score
0,0,1,0,0,34.500000
1,0,0,0,1,21.964286
2,0,0,0,1,25.285714
3,0,0,0,1,26.571429
4,1,0,0,0,31.178571
...,...,...,...,...,...
85,1,0,0,0,40.178571
86,0,0,1,0,29.785714
87,0,0,1,0,40.071429
88,0,0,0,1,33.214286
89,0,0,0,1,44.785714

In [192]:
def update_diet_score10(row):
    if '19_Unsweetened_full_fat_fairy_>=2 times per day' in healthDF.columns and row['19_Unsweetened_full_fat_fairy_>=2 times per day'] == 1:
        return row['healthy_diet_score'] + (75*.55/7)
    elif '19_Unsweetened_full_fat_fairy_5-7 times per week' in healthDF.columns and row['19_Unsweetened_full_fat_fairy_5-7 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*4)
    elif '19_Unsweetened_full_fat_fairy_3-4 times per week' in healthDF.columns and row['19_Unsweetened_full_fat_fairy_3-4 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*3)
    elif '19_Unsweetened_full_fat_fairy_1-2 times per week' in healthDF.columns and row['19_Unsweetened_full_fat_fairy_1-2 times per week'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5*2)
    elif '19_Unsweetened_full_fat_fairy_rarely or never' in healthDF.columns and row['19_Unsweetened_full_fat_fairy_rarely or never'] == 1:
        return row['healthy_diet_score'] + (75*.55/7/5)
    return row['healthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['healthy_diet_score'] =+ healthDF.apply(update_diet_score10, axis=1)

In [193]:
healthDF[['19_Unsweetened_full_fat_fairy_5-7 times per week','19_Unsweetened_full_fat_fairy_3-4 times per week','19_Unsweetened_full_fat_fairy_1-2 times per week','19_Unsweetened_full_fat_fairy_rarely or never','healthy_diet_score']]

,19_Unsweetened_full_fat_fairy_5-7 times per week,19_Unsweetened_full_fat_fairy_3-4 times per week,19_Unsweetened_full_fat_fairy_1-2 times per week,19_Unsweetened_full_fat_fairy_rarely or never,healthy_diet_score
0,0,1,0,0,38.035714
1,0,1,0,0,25.500000
2,0,1,0,0,28.821429
3,0,0,1,0,28.928571
4,0,1,0,0,34.714286
...,...,...,...,...,...
85,0,0,1,0,42.535714
86,0,1,0,0,33.321429
87,0,0,0,1,41.250000
88,0,0,1,0,35.571429
89,0,0,1,0,47.142857

### Unhealthy Food Group

In [194]:
def update_diet_score11(row):
    if '6_Other_fish_rarely or never' in healthDF.columns and row['6_Other_fish_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9)
    elif '6_Other_fish_1-2 times per week' in healthDF.columns and row['6_Other_fish_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*4)
    elif '6_Other_fish_3-4 times per week' in healthDF.columns and row['6_Other_fish_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*3)
    elif '6_Other_fish_5-7 times per week' in healthDF.columns and row['6_Other_fish_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*2)
    elif '6_Other_fish_>=2 times per day' in healthDF.columns and row['6_Other_fish_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score11, axis=1)

In [195]:
healthDF[['6_Other_fish_rarely or never','6_Other_fish_1-2 times per week','6_Other_fish_3-4 times per week','unhealthy_diet_score']]

,6_Other_fish_rarely or never,6_Other_fish_1-2 times per week,6_Other_fish_3-4 times per week,unhealthy_diet_score
0,1,0,0,3.333333
1,1,0,0,3.333333
2,1,0,0,3.333333
3,1,0,0,3.333333
4,0,1,0,2.666667
...,...,...,...,...
85,0,1,0,2.666667
86,0,1,0,2.666667
87,1,0,0,3.333333
88,1,0,0,3.333333
89,0,1,0,2.666667

In [196]:
def update_diet_score12(row):
    if '9_Red_meat_rarely or never' in healthDF.columns and row['9_Red_meat_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9)
    elif '9_Red_meat_1-2 times per week' in healthDF.columns and row['9_Red_meat_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*4)
    elif '9_Red_meat_3-4 times per week' in healthDF.columns and row['9_Red_meat_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*3)
    elif '9_Red_meat_5-7 times per week' in healthDF.columns and row['9_Red_meat_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*2)
    elif '9_Red_meat_>=2 times per day' in healthDF.columns and row['9_Red_meat_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score12, axis=1)

In [197]:
healthDF[['9_Red_meat_rarely or never','9_Red_meat_1-2 times per week','9_Red_meat_3-4 times per week','9_Red_meat_5-7 times per week','unhealthy_diet_score']]

,9_Red_meat_rarely or never,9_Red_meat_1-2 times per week,9_Red_meat_3-4 times per week,9_Red_meat_5-7 times per week,unhealthy_diet_score
0,0,1,0,0,6.000000
1,0,0,1,0,5.333333
2,0,0,1,0,5.333333
3,0,0,1,0,5.333333
4,0,0,1,0,4.666667
...,...,...,...,...,...
85,0,0,1,0,4.666667
86,0,1,0,0,5.333333
87,0,1,0,0,6.000000
88,0,1,0,0,6.000000
89,0,1,0,0,5.333333

In [198]:
def update_diet_score13(row):
    if '10_Processed_meats_rarely or never' in healthDF.columns and row['10_Processed_meats_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9)
    elif '10_Processed_meats_1-2 times per week' in healthDF.columns and row['10_Processed_meats_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*4)
    elif '10_Processed_meats_3-4 times per week' in healthDF.columns and row['10_Processed_meats_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*3)
    elif '10_Processed_meats_5-7 times per week' in healthDF.columns and row['10_Processed_meats_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*2)
    elif '10_Processed_meats_>=2 times per day' in healthDF.columns and row['10_Processed_meats_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score13, axis=1)

In [199]:
healthDF[['10_Processed_meats_rarely or never','10_Processed_meats_1-2 times per week','10_Processed_meats_3-4 times per week','unhealthy_diet_score']]

,10_Processed_meats_rarely or never,10_Processed_meats_1-2 times per week,10_Processed_meats_3-4 times per week,unhealthy_diet_score
0,0,1,0,8.666667
1,0,1,0,8.000000
2,1,0,0,8.666667
3,1,0,0,8.666667
4,0,1,0,7.333333
...,...,...,...,...
85,0,1,0,7.333333
86,1,0,0,8.666667
87,0,0,1,8.000000
88,1,0,0,9.333333
89,0,1,0,8.000000

In [200]:
def update_diet_score14(row):
    if '13_Potatoes_rarely or never' in healthDF.columns and row['13_Potatoes_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9)
    elif '13_Potatoes_1-2 times per week' in healthDF.columns and row['13_Potatoes_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*4)
    elif '13_Potatoes_3-4 times per week' in healthDF.columns and row['13_Potatoes_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*3)
    elif '13_Potatoes_5-7 times per week' in healthDF.columns and row['13_Potatoes_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*2)
    elif '13_Potatoes_>=2 times per day' in healthDF.columns and row['13_Potatoes_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score14, axis=1)

In [201]:
healthDF[['13_Potatoes_rarely or never','13_Potatoes_1-2 times per week','13_Potatoes_3-4 times per week','unhealthy_diet_score']]

,13_Potatoes_rarely or never,13_Potatoes_1-2 times per week,13_Potatoes_3-4 times per week,unhealthy_diet_score
0,0,0,1,10.666667
1,0,0,1,10.000000
2,0,1,0,11.333333
3,1,0,0,12.000000
4,0,0,1,9.333333
...,...,...,...,...
85,0,1,0,10.000000
86,1,0,0,12.000000
87,1,0,0,11.333333
88,1,0,0,12.666667
89,0,1,0,10.666667

In [202]:
def update_diet_score15(row):
    if '14_Candy_baked_sweets_rarely or never' in healthDF.columns and row['14_Candy_baked_sweets_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4)
    elif '14_Candy_baked_sweets_1-2 times per week' in healthDF.columns and row['14_Candy_baked_sweets_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*4)
    elif '14_Candy_baked_sweets_3-4 times per week' in healthDF.columns and row['14_Candy_baked_sweets_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*3)
    elif '14_Candy_baked_sweets_5-7 times per week' in healthDF.columns and row['14_Candy_baked_sweets_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*2)
    elif '14_Candy_baked_sweets_>=2 times per day' in healthDF.columns and row['14_Candy_baked_sweets_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score15, axis=1)

In [203]:
healthDF[['14_Candy_baked_sweets_rarely or never','14_Candy_baked_sweets_1-2 times per week','14_Candy_baked_sweets_3-4 times per week','unhealthy_diet_score']]

,14_Candy_baked_sweets_rarely or never,14_Candy_baked_sweets_1-2 times per week,14_Candy_baked_sweets_3-4 times per week,unhealthy_diet_score
0,0,0,1,13.666667
1,0,1,0,14.000000
2,1,0,0,16.333333
3,1,0,0,17.000000
4,1,0,0,14.333333
...,...,...,...,...
85,0,1,0,14.000000
86,0,1,0,16.000000
87,0,1,0,15.333333
88,0,0,1,15.666667
89,0,1,0,14.666667

In [204]:
def update_diet_score16(row):
    if '15_Sweet_drinks_rarely or never' in healthDF.columns and row['15_Sweet_drinks_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4)
    elif '15_Sweet_drinks_1-2 times per week' in healthDF.columns and row['15_Sweet_drinks_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*4)
    elif '15_Sweet_drinks_3-4 times per week' in healthDF.columns and row['15_Sweet_drinks_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*3)
    elif '15_Sweet_drinks_5-7 times per week' in healthDF.columns and row['15_Sweet_drinks_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*2)
    elif '15_Sweet_drinks_>=2 times per day' in healthDF.columns and row['15_Sweet_drinks_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score16, axis=1)

In [205]:
healthDF[['15_Sweet_drinks_rarely or never','15_Sweet_drinks_1-2 times per week','15_Sweet_drinks_3-4 times per week','15_Sweet_drinks_5-7 times per week','unhealthy_diet_score']]

,15_Sweet_drinks_rarely or never,15_Sweet_drinks_1-2 times per week,15_Sweet_drinks_3-4 times per week,15_Sweet_drinks_5-7 times per week,unhealthy_diet_score
0,0,0,1,0,16.666667
1,0,0,1,0,17.000000
2,1,0,0,0,21.333333
3,0,1,0,0,21.000000
4,0,1,0,0,18.333333
...,...,...,...,...,...
85,0,1,0,0,18.000000
86,0,1,0,0,20.000000
87,0,0,1,0,18.333333
88,0,1,0,0,19.666667
89,0,1,0,0,18.666667

In [206]:
def update_diet_score17(row):
    if '16_Soda_rarely or never' in healthDF.columns and row['16_Soda_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4)
    elif '16_Soda_1-2 times per week' in healthDF.columns and row['16_Soda_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*4)
    elif '16_Soda_3-4 times per week' in healthDF.columns and row['16_Soda_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*3)
    elif '16_Soda_5-7 times per week' in healthDF.columns and row['16_Soda_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*2)
    elif '16_Soda_>=2 times per day' in healthDF.columns and row['16_Soda_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score17, axis=1)

In [207]:
healthDF[['16_Soda_rarely or never','16_Soda_1-2 times per week','16_Soda_3-4 times per week','unhealthy_diet_score']]

,16_Soda_rarely or never,16_Soda_1-2 times per week,16_Soda_3-4 times per week,unhealthy_diet_score
0,0,1,0,20.666667
1,0,1,0,21.000000
2,1,0,0,26.333333
3,0,1,0,25.000000
4,1,0,0,23.333333
...,...,...,...,...
85,0,1,0,22.000000
86,0,1,0,24.000000
87,0,1,0,22.333333
88,0,1,0,23.666667
89,0,1,0,22.666667

In [208]:
def update_diet_score18(row):
    if '17_Juice_rarely or never' in healthDF.columns and row['17_Juice_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4)
    elif '17_Juice_1-2 times per week' in healthDF.columns and row['17_Juice_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*4)
    elif '17_Juice_3-4 times per week' in healthDF.columns and row['17_Juice_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*3)
    elif '17_Juice_5-7 times per week' in healthDF.columns and row['17_Juice_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5*2)
    elif '17_Juice_>=2 times per day' in healthDF.columns and row['17_Juice_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.4/4/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score18, axis=1)

In [209]:
healthDF[['17_Juice_rarely or never','17_Juice_1-2 times per week','17_Juice_3-4 times per week','17_Juice_5-7 times per week','unhealthy_diet_score']]

,17_Juice_rarely or never,17_Juice_1-2 times per week,17_Juice_3-4 times per week,17_Juice_5-7 times per week,unhealthy_diet_score
0,0,0,1,0,23.666667
1,1,0,0,0,26.000000
2,1,0,0,0,31.333333
3,1,0,0,0,30.000000
4,0,1,0,0,27.333333
...,...,...,...,...,...
85,0,1,0,0,26.000000
86,0,0,1,0,27.000000
87,0,1,0,0,26.333333
88,0,1,0,0,27.666667
89,0,1,0,0,26.666667

In [210]:
def update_diet_score19(row):
    if '20_Sweetened_dairy_rarely or never' in healthDF.columns and row['20_Sweetened_dairy_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9)
    elif '20_Sweetened_dairy_1-2 times per week' in healthDF.columns and row['20_Sweetened_dairy_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*4)
    elif '20_Sweetened_dairy_3-4 times per week' in healthDF.columns and row['20_Sweetened_dairy_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*3)
    elif '20_Sweetened_dairy_5-7 times per week' in healthDF.columns and row['20_Sweetened_dairy_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*2)
    elif '20_Sweetened_dairy_>=2 times per day' in healthDF.columns and row['20_Sweetened_dairy_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score19, axis=1)

In [211]:
healthDF[['20_Sweetened_dairy_rarely or never','20_Sweetened_dairy_1-2 times per week','20_Sweetened_dairy_3-4 times per week','20_Sweetened_dairy_5-7 times per week','unhealthy_diet_score']]

,20_Sweetened_dairy_rarely or never,20_Sweetened_dairy_1-2 times per week,20_Sweetened_dairy_3-4 times per week,20_Sweetened_dairy_5-7 times per week,unhealthy_diet_score
0,0,1,0,0,26.333333
1,1,0,0,0,29.333333
2,1,0,0,0,34.666667
3,1,0,0,0,33.333333
4,0,0,1,0,29.333333
...,...,...,...,...,...
85,0,1,0,0,28.666667
86,1,0,0,0,30.333333
87,0,1,0,0,29.000000
88,1,0,0,0,31.000000
89,0,1,0,0,29.333333

In [212]:
def update_diet_score20(row):
    if '21_Egg yolks_etc_rarely or never' in healthDF.columns and row['21_Egg yolks_etc_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9)
    elif '21_Egg yolks_etc_1-2 times per week' in healthDF.columns and row['21_Egg yolks_etc_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*4)
    elif '21_Egg yolks_etc_3-4 times per week' in healthDF.columns and row['21_Egg yolks_etc_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*3)
    elif '21_Egg yolks_etc_5-7 times per week' in healthDF.columns and row['21_Egg yolks_etc_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*2)
    elif '21_Egg yolks_etc_>=2 times per day' in healthDF.columns and row['21_Egg yolks_etc_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score20, axis=1)

In [213]:
healthDF[['21_Egg yolks_etc_rarely or never','21_Egg yolks_etc_1-2 times per week','21_Egg yolks_etc_3-4 times per week','unhealthy_diet_score']]

,21_Egg yolks_etc_rarely or never,21_Egg yolks_etc_1-2 times per week,21_Egg yolks_etc_3-4 times per week,unhealthy_diet_score
0,0,1,0,29.000000
1,1,0,0,32.666667
2,1,0,0,38.000000
3,1,0,0,36.666667
4,0,1,0,32.000000
...,...,...,...,...
85,0,0,1,30.666667
86,0,1,0,33.000000
87,0,1,0,31.666667
88,0,0,1,33.000000
89,0,0,1,31.333333

In [214]:
def update_diet_score21(row):
    if '22_Canned_foods_etc_rarely or never' in healthDF.columns and row['22_Canned_foods_etc_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9)
    elif '22_Canned_foods_etc_1-2 times per week' in healthDF.columns and row['22_Canned_foods_etc_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*4)
    elif '22_Canned_foods_etc_3-4 times per week' in healthDF.columns and row['22_Canned_foods_etc_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*3)
    elif '22_Canned_foods_etc_5-7 times per week' in healthDF.columns and row['22_Canned_foods_etc_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*2)
    elif '22_Canned_foods_etc_>=2 times per day' in healthDF.columns and row['22_Canned_foods_etc_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score21, axis=1)

In [215]:
healthDF[['22_Canned_foods_etc_rarely or never','22_Canned_foods_etc_1-2 times per week','unhealthy_diet_score']]

,22_Canned_foods_etc_rarely or never,22_Canned_foods_etc_1-2 times per week,unhealthy_diet_score
0,1,0,32.333333
1,0,1,35.333333
2,1,0,41.333333
3,1,0,40.000000
4,0,1,34.666667
...,...,...,...
85,0,1,33.333333
86,1,0,36.333333
87,1,0,35.000000
88,1,0,36.333333
89,1,0,34.666667

In [216]:
def update_diet_score22(row):
    if '23_Pizza_rarely or never' in healthDF.columns and row['23_Pizza_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9)
    elif '23_Pizza_1-2 times per week' in healthDF.columns and row['23_Pizza_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*4)
    elif '23_Pizza_3-4 times per week' in healthDF.columns and row['23_Pizza_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*3)
    elif '23_Pizza_5-7 times per week' in healthDF.columns and row['23_Pizza_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*2)
    elif '23_Pizza_>=2 times per day' in healthDF.columns and row['23_Pizza_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score22, axis=1)

In [217]:
healthDF[['23_Pizza_rarely or never','23_Pizza_1-2 times per week','23_Pizza_3-4 times per week','unhealthy_diet_score']]

,23_Pizza_rarely or never,23_Pizza_1-2 times per week,23_Pizza_3-4 times per week,unhealthy_diet_score
0,0,1,0,35.000000
1,0,1,0,38.000000
2,1,0,0,44.666667
3,1,0,0,43.333333
4,0,1,0,37.333333
...,...,...,...,...
85,1,0,0,36.666667
86,0,1,0,39.000000
87,1,0,0,38.333333
88,0,1,0,39.000000
89,0,1,0,37.333333

In [218]:
def update_diet_score23(row):
    if '24_Fried_foods_rarely or never' in healthDF.columns and row['24_Fried_foods_rarely or never'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9)
    elif '24_Fried_foods_1-2 times per week' in healthDF.columns and row['24_Fried_foods_1-2 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*4)
    elif '24_Fried_foods_3-4 times per week' in healthDF.columns and row['24_Fried_foods_3-4 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*3)
    elif '24_Fried_foods_5-7 times per week' in healthDF.columns and row['24_Fried_foods_5-7 times per week'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5*2)
    elif '24_Fried_foods_>=2 times per day' in healthDF.columns and row['24_Fried_foods_>=2 times per day'] == 1:
        return row['unhealthy_diet_score'] + (50*.6/9/5)
    return row['unhealthy_diet_score']
        
# Apply the function to the DataFrame
healthDF['unhealthy_diet_score'] =+ healthDF.apply(update_diet_score23, axis=1)

In [219]:
healthDF[['24_Fried_foods_rarely or never','24_Fried_foods_1-2 times per week','24_Fried_foods_3-4 times per week','unhealthy_diet_score']]

,24_Fried_foods_rarely or never,24_Fried_foods_1-2 times per week,24_Fried_foods_3-4 times per week,unhealthy_diet_score
0,0,1,0,37.666667
1,0,1,0,40.666667
2,0,1,0,47.333333
3,0,1,0,46.000000
4,0,0,1,39.333333
...,...,...,...,...
85,0,1,0,39.333333
86,0,1,0,41.666667
87,0,0,1,40.333333
88,1,0,0,42.333333
89,0,1,0,40.000000

## Calculate Total Health Score

In [220]:
healthDF['final_score'] = healthDF['healthy_diet_score'] + healthDF['unhealthy_diet_score'] + healthDF['physical_score'] + healthDF['sleeping_score'] + healthDF['smoking_score']

In [221]:
healthDF[['healthy_diet_score','unhealthy_diet_score','physical_score','sleeping_score','smoking_score','final_score']]

,healthy_diet_score,unhealthy_diet_score,physical_score,sleeping_score,smoking_score,final_score
0,38.035714,37.666667,52.5,100,100,328.202381
1,25.500000,40.666667,65.0,100,100,331.166667
2,28.821429,47.333333,57.5,100,100,333.654762
3,28.928571,46.000000,45.0,100,100,319.928571
4,34.714286,39.333333,32.5,100,100,306.547619
...,...,...,...,...,...,...
85,42.535714,39.333333,62.5,100,100,344.369048
86,33.321429,41.666667,50.0,100,100,324.988095
87,41.250000,40.333333,57.5,100,100,339.083333
88,35.571429,42.333333,45.0,75,100,297.904762
89,47.142857,40.000000,62.5,100,100,349.642857

In [222]:
healthDF.head(20)

,Record ID,Repeat Instance,Date of birth,Date of Survey,Age,1_Vegetables,2_Fruit,3_Beans_legumes,4_Nuts_seeds,5_Cold_water_fish,...,46_Smoker_never smoked,Form_completer_combined effort,Form_completer_parent/guardian,Form_completer_patient,healthy_diet_score,unhealthy_diet_score,physical_score,sleeping_score,smoking_score,final_score
0,1,1,11/26/2006,1/29/2022,15.18,3-4 times per week,5-7 times per week,1-2 times per week,1-2 times per week,rarely or never,...,1,0,0,1,38.035714,37.666667,52.5,100,100,328.202381
1,2,2,7/18/2010,2/26/2021,10.61,1-2 times per week,rarely or never,rarely or never,rarely or never,rarely or never,...,1,0,1,0,25.500000,40.666667,65.0,100,100,331.166667
2,2,1,7/18/2010,1/25/2021,10.52,1-2 times per week,3-4 times per week,rarely or never,rarely or never,rarely or never,...,1,0,1,0,28.821429,47.333333,57.5,100,100,333.654762
3,2,3,7/18/2010,1/3/2022,11.46,1-2 times per week,1-2 times per week,rarely or never,3-4 times per week,rarely or never,...,1,1,0,0,28.928571,46.000000,45.0,100,100,319.928571
4,3,1,3/29/2008,11/25/2020,12.66,1-2 times per week,1-2 times per week,3-4 times per week,rarely or never,1-2 times per week,...,1,0,1,0,34.714286,39.333333,32.5,100,100,306.547619
5,3,2,3/29/2008,4/14/2021,13.91,1-2 times per week,1-2 times per week,1-2 times per week,3-4 times per week,rarely or never,...,1,0,1,0,32.464286,36.333333,35.0,100,100,303.797619
6,4,1,11/14/2005,9/21/2020,14.85,>=2 times per day,>=2 times per day,3-4 times per week,1-2 times per week,rarely or never,...,1,0,0,1,45.964286,44.666667,50.0,100,100,340.630952
7,4,2,11/14/2005,2/22/2021,15.27,5-7 times per week,5-7 times per week,3-4 times per week,1-2 times per week,1-2 times per week,...,1,0,0,1,43.714286,45.000000,50.0,100,100,338.714286
8,5,1,8/23/2015,8/7/2020,4.96,5-7 times per week,5-7 times per week,3-4 times per week,3-4 times per week,rarely or never,...,1,0,1,0,45.000000,43.000000,50.0,100,100,338.000000
9,6,1,8/19/2006,8/12/2020,13.98,>=2 times per day,>=2 times per day,1-2 times per week,5-7 times per week,1-2 times per week,...,1,1,0,0,50.571429,42.666667,62.5,100,100,355.738095
10,7,1,9/1/2005,11/1/2020,15.17,5-7 times per week,3-4 times per week,rarely or never,rarely or never,1-2 times per week,...,1,1,0,0,29.678571,40.333333,40.0,100,100,310.011905
11,8,1,9/11/2008,10/15/2020,12.00,3-4 times per week,3-4 times per week,1-2 times per week,rarely or never,rarely or never,...,1,0,0,1,29.892857,38.000000,57.5,100,100,325.392857
12,9,1,4/12/2012,10/15/2020,8.00,>=2 times per day,5-7 times per week,rarely or never,rarely or never,3-4 times per week,...,1,0,1,0,42.321429,39.333333,62.5,75,100,319.154762
13,10,1,7/16/2012,9/15/2020,8.00,5-7 times per week,3-4 times per week,3-4 times per week,rarely or never,1-2 times per week,...,1,0,0,1,37.928571,37.666667,57.5,75,100,308.095238
14,11,1,6/10/2008,5/11/2020,11.00,5-7 times per week,3-4 times per week,1-2 times per week,3-4 times per week,1-2 times per week,...,1,1,0,0,40.285714,39.666667,52.5,75,100,307.452381
15,12,1,4/16/2015,1/22/2020,4.00,>=2 times per day,5-7 times per week,3-4 times per week,rarely or never,rarely or never,...,1,1,0,0,40.178571,39.666667,62.5,100,100,342.345238
16,13,1,4/16/2012,11/25/2020,8.00,>=2 times per day,1-2 times per week,rarely or never,rarely or never,1-2 times per week,...,1,1,0,0,30.857143,38.666667,47.5,75,100,292.023810
17,14,1,2/20/2008,11/18/2021,13.00,3-4 times per week,3-4 times per week,3-4 times per week,5-7 times per week,3-4 times per week,...,1,0,1,0,39.107143,38.666667,32.5,100,100,310.273810
18,15,1,11/14/2012,1/22/2020,7.00,1-2 times per week,>=2 times per day,1-2 times per week,rarely or never,rarely or never,...,1,0,0,1,33.321429,36.666667,27.5,100,100,297.488095
19,6,2,8/19/2006,2/18/2021,14.00,>=2 times per day,>=2 times per day,1-2 times per week,5-7 times per week,1-2 times per week,...,1,1,0,0,50.571429,42.666667,62.5,100,100,355.738095

# Export to CSV

In [223]:
healthDF.to_csv(r'/Users/wingki/Desktop/Capstone/scoring_system.csv')